
@{
    ViewBag.Title = "Confirmation de traitement enquête";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <h2>Merci d'avoir répondue à cette enquête! :)</h2>
    <br />
    <a class="btn-link" asp-action="Index" asp-controller="Home" asp-area=""> Cliquez sur ce lien pour revenir à la page d'accueil</a>
</div>


