
@{
    ViewBag.Title = "Enquete déjà répondue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <h2>Oups! cette enquête a été répondue précedement, vous ne pouvez pas modifier vos réponses! </h2>
    <br />
    <a class="btn-link" asp-action="Index" asp-controller="Home" asp-area=""> Cliquez sur ce lien pour revenir à l'accueil</a>
</div>
