
@{
    ViewBag.Title = "PlanZonesReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@if (ViewBag.IsConfirOutside == true) // aller vers area User
{
    <div>
        <h2>Merci! Votre demande de mise à jour réservation est prise en compte</h2>
        <h6> Vous récevrez une confirmation de validation ou refus par mail</h6>
        <br />
        <a class="btn-link" asp-area="User" asp-action="MesReservations" asp-controller="ResasUser"> Cliquez sur ce lien pour revenir à la page mes réservations</a>
    </div>
}
else // aller vers l'index
{
    <div>
        <h2>Merci! Votre demande de réservation est prise en compte</h2>
        <h6> Vous récevrez une confirmation de validation ou refus par mail</h6>
        <br />
        <a class="btn-link" asp-action="Index" asp-controller="Home" asp-area=""> Cliquez sur ce lien pour revenir à la page d'accueil</a>
    </div>
}



