@model EquipParZoneViewModel
@{
    ViewBag.Title = "ListeEquipements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h5 class="text-center">Liste des équipements pour la zone @Model.NomZone </h5>
<h6 class="text-center">Vous pouvez télécharger les documents <strong>fiche materiel</strong>et <strong>fiche métrologie</strong> en cliquant sur les liens correspondant à l'équipement</h6>
<br />
@for (int i = 0; i < Model.ListeEquipements.Count(); i++)
{
    <div class="card">
        <h5 class="card-header">
            <strong>@Model.ListeEquipements[i].NomEquipement (Num GMAO: @Model.ListeEquipements[i].NumGmaoEquipement)</strong>
        </h5>
        <div class="card-body">
            @if (Model.ListeEquipements[i].FicheMaterielDispo == true)
            {
                <a class="btn btn-secondary text-center" asp-action="DownloadFichMat" asp-area="AboutPFL" asp-controller="InfosPfl" asp-route-id="@Model.ListeEquipements[i].IdFicheMat">Téléchargement Fiche Materiel</a>
            }
            else
            {
                <p>Fiche materiel(doc indisponible)</p>
            }
        </div>
    </div>
    <br />
}

<br />
<div class="row justify-content-center">
    <a asp-action="PlanZones" asp-controller="InfosPfl" asp-area="AboutPFL">Revenir à la page précedente</a>
</div>