
@{
    ViewBag.Title = "MenuConsultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-center">Accès aux réservations PFL</h1>
<br />
<div class="row">
    <div class="col-md-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Réservations à valider</h5>
                <p class="card-text">Liste des réservations en attente de validation ou refus</p>
                <a asp-action="ReservationsAValider" asp-controller="Validation" asp-area="Reservation" class="btn navbar-inra">Accèder à la liste</a>
            </div>
        </div>
    </div>
    <div class="offset-md-2 col-md-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title text-center">Réservations validées</h5>
                <p class="card-text">Liste des réservations validées</p>
                <a asp-action="ResasValidees" asp-controller="Consultation" asp-area="Reservation" class="btn navbar-inra">Consulter</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-5 offset-1">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title text-center">Réservations supprimées</h5>
                <p class="card-text">Liste des réservations supprimées par l'utilisateur</p>
                <a asp-action="ResasSupprimees" asp-controller="Consultation" asp-area="Reservation" class="btn navbar-inra">Consulter</a>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title text-center">Réservations refusées</h5>
                <p class="card-text">Liste des réservations refusées par l'équipe PFL</p>
                <a asp-action="ResasRefusees" asp-controller="Consultation" asp-area="Reservation" class="btn navbar-inra">Consulter</a>
            </div>
        </div>
    </div>
</div>
