
@{
    ViewBag.Title = "Confirmation Suppression Intervention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <h2>L'intervention est bien supprimée! </h2>
    <br />
    <a class="btn-link" asp-area="Maintenance" asp-action="ModificationIntervention" asp-controller="ModifMaint"> Cliquez sur ce lien pour revenir à la page de mise à jour des opérations de maintenance</a>
</div>

    
