@model DocQualiteViewModel
@{
    ViewBag.Title = "ListeEquipements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-10 text-center">
        <h5 class="text-center"><strong>Documents qualité Plate-forme LAIT </strong></h5>
        <h6 class="text-center">Nous mettons à votre disposition les documents concernant la strategie qualité de la PFL</h6>
    </div>
</div>
<hr />
@foreach (var x in Model.ListDocsQualite)
{
    <div class="card">
        <h5 class="card-header">
            @x.NomDocument
        </h5>
        <div class="card-body">
            <!--<h5 class="card-title">@x.DescriptionDoc</h5>-->
            <p class="card-text">@x.DescriptionDoc</p>
            <a class="btn text-center navbar-inra" asp-action="TelechargerDocxId" asp-controller="DocQualite" asp-route-id="@x.IdDocument">Télécharger</a>
        </div>
    </div>
    <br />
}