
@{
    ViewBag.Title = "InterventionMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <h2>Merci! Votre demande d'intervention maintenance est prise en compte</h2>
    <br />
    <a class="btn-link" asp-action="Index" asp-controller="Home" asp-area=""> Cliquez sur ce lien pour revenir à la page d'accueil</a>
</div>





