@*
 * website developped to manage the dairy platform STLO operations
 * Code by Anny VIVAS, inspired from the operationnal functioning of the ancien website developped by Bruno PERRET
 * July 2021
 * website includes code from:
 *  DotNetZip library for dealing with zip, bsip and zlib from .net
 *  Created by: Henrik/Dino Chiesa
 *
 *  MailKit open source library for .NET mail-client
 *  Created by:  Jeffrey Stedfast
 *
 *  Microsoft.AspNetCore.Identity.EntityFrameworkCore, ASP.NET Core Identity provider that uses Entity Framework Core
 *  Created by: Microsoft
 *
 *  Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation, Runtime compilation support for Razor views and Razor pages in ASP.NET Core MVC
 *  Created by: Microsoft
 *
 *  Microsoft.EntityFrameworkCore.Design, Shared design-time components for Entity Framework Core tools
 *  Created by: Microsoft
 *
 *  Microsoft.EntityFrameworkCore.SqlServer, Microsoft SQL Server database provider for Entity Framework Core
 *  Created by: Microsoft
 *
 *  Ncrontab, NCrontab is crontab for all .NET runtimes supported by .NET Standard 1.0. It provides parsing and formatting of crontab expressions as well as calculation of occurrences of time based on a schedule expressed in the crontab format
 *  Created by: Atif Aziz
 *
 * This projet is released under the terms of the GNU general public license GPL version 3 or later:
 * availaible here: https://www.gnu.org/licenses/gpl-3.0-standalone.html
 *
 * Copyright (c) 2021-2024 Anny Vivas
 *@

@{
    ViewBag.Title = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Espace gestion du site</h2>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/metrologie.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="AccueilMetrologie" asp-controller="DocMetro" asp-area="Metrologie">Métrologie</a>
                </h5>
                <p class="card-text">Cet option vous permet de gérer les opérations de métrologie à appliquer sur les capteurs des pilotes répertoriés sur la base de données.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/statistiques.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="MenuStats" asp-controller="Stats" asp-area="StatistiquePFL">Statistiques PFL</a>
                </h5>
                <p class="card-text">Accès aux diverses statistiques Plateforme. Fichiers excel téléchargeables.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/enquetes.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    @*<a class="btn-link" href="#">Enquetes de satisfaction</a>*@
                    <a class="btn-link" asp-action="RecupNotesEnquete" asp-controller="PostEnquete" asp-area="Enquete">Enquetes de satisfaction</a>
                </h5>
                <p class="card-text">Obtenir les notes des enquêtes de satisfaction et accès aux statistiques obtenues des enquêtes repondues</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/utilisateur.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="GestionUtilisateurs" asp-controller="Equipe" asp-area="Equipe">Gestion des utilisateurs</a>
                </h5>
                <p class="card-text">Supprimer des anciens utilisateurs, modifier les droits de compte, valider les demandes d'ouverture... </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top h-auto m-auto" src="~/Content/Images/EquipeViewImages/planning.png" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="MenuConsultation" asp-controller="Validation" asp-area="Reservation">Réservations</a>
                </h5>
                <p class="card-text">Valider ou refuser des réservations, consulter les réservations validés ou supprimées </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/zonesEtEquip.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="GestionEquipements" asp-controller="ModifEquip" asp-area="AboutPFL">Gestion des zones et des équipements</a>
                </h5>
                <p class="card-text">Modifier les informations sur un équipement (Fiche technique, Zone, N° GMAO....) </p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/donnes.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="RecupDataAdmin" asp-controller="RecupData" asp-area="Equipe">Recuperation des données PcVue</a>
                </h5>
                <p class="card-text">Accès aux données générées pour tous les projets. Respecter la confidentialité!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/documentation.png" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="IndexModifDocsAQ" asp-controller="ModifDocAq" asp-area="Equipe">Documentation Importante PFL</a>
                </h5>
                <p class="card-text">Mise à jour des documents PFL publiés dans la page</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/event.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="AccueilEvenements" asp-controller="Events" asp-area="Evenements">Evènements</a>
                </h5>
                <p class="card-text">Ajouter, supprimer, modifier ou afficher dans la page d'accueil des évènements</p>
            </div>
        </div>
    </div>
</div>

