
@{
    ViewBag.Title = "Equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Espace gestion du site</h2>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/metrologie.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="AccueilMetrologie" asp-controller="DocMetro" asp-area="Metrologie">Métrologie</a>
                </h5>
                <p class="card-text">Cet option vous permet de gérer les opérations de métrologie à appliquer sur les capteurs des pilotes répertoriés sur la base de données.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/statistiques.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="MenuStats" asp-controller="Stats" asp-area="StatistiquePFL">Statistiques PFL</a>
                </h5>
                <p class="card-text">Accès aux diverses statistiques Plateforme. Fichiers excel téléchargeables.</p>
                <p class="card-text">
                    <small class="text-muted">
                        Image: Brioude Internet. https://www.brioude-internet.fr/12403/quels-kpi-pour-lanalyse-des-medias-sociaux/
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/enquetes.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    @*<a class="btn-link" href="#">Enquetes de satisfaction</a>*@
                    <a class="btn-link" asp-action="RecupNotesEnquete" asp-controller="PostEnquete" asp-area="Enquete">Enquetes de satisfaction</a>
                </h5>
                <p class="card-text">Obtenir les notes des enquêtes de satisfaction et accès aux statistiques obtenues des enquêtes repondues</p>
                <p class="card-text">
                    <small class="text-muted">
                        Image: Phosphore. https://www.phosphore.com/orientation/la-consultation-que-vous-attendiez/
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/utilisateur.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="GestionUtilisateurs" asp-controller="Equipe" asp-area="Equipe">Gestion des utilisateurs</a>
                </h5>
                <p class="card-text">Supprimer des anciens utilisateurs, modifier les droits de compte, valider les demandes d'ouverture... </p>
                <p class="card-text">
                    <small class="text-muted">
                        Image: Shutterstock
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top h-auto m-auto" src="~/Content/Images/EquipeViewImages/planning.png" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="MenuConsultation" asp-controller="Validation" asp-area="Reservation">Réservations</a>
                </h5>
                <p class="card-text">Valider ou refuser des réservations, consulter les réservations validés ou supprimées </p>
                <p class="card-text">
                    <small class="text-muted">
                        Image: Cefirc - Formation Santé Sécurité - Pau 64. https://www.cefirc.fr/manager-de-proximite-organiser-le-travail-et-donner-des-consignes/
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/zonesEtEquip.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="GestionEquipements" asp-controller="ModifEquip" asp-area="AboutPFL">Gestion des zones et des équipements</a>
                </h5>
                <p class="card-text">Modifier les informations sur un équipement (Fiche technique, Zone, N° GMAO....) </p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/donnes.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="RecupDataAdmin" asp-controller="RecupData" asp-area="Equipe">Recuperation des données PcVue</a>
                </h5>
                <p class="card-text">Accès aux données générées pour tous les projets. Respecter la confidentialité!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/documentation.png" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="IndexModifDocsAQ" asp-controller="ModifDocAq" asp-area="Equipe">Documentation Importante PFL</a>
                </h5>
                <p class="card-text">Mise à jour des documents PFL publiés dans la page</p>
                <p class="card-text">
                    <small class="text-muted">
                        Image: Power tools user guides - documentation - free transparent PNG clipart images download.
                        ClipartMax.com. (s. d.-b). ClipartMax.com. https://www.clipartmax.com/middle/m2i8H7i8H7d3b1N4_power-tools-user-guides-documentation
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/Content/Images/EquipeViewImages/event.jpg" />
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn-link" asp-action="AccueilEvenements" asp-controller="Events" asp-area="Evenements">Evènements</a>
                </h5>
                <p class="card-text">Ajouter, supprimer, modifier ou afficher dans la page d'accueil des évènements</p>
                <p class="card-text">
                    <small class="text-muted">
                        Image: L, B. (2020, 3 mars). Stratégie marketing : 11 étapes pour l'organisation d'un événement. KakaBlog.net.
                        https://kakablog.net/strategie-marketing-11-etapes-pour-lorganisation-dun-evenement/
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

