
@{
    ViewBag.Title = "ConfirmationEntrepot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <h2>Votre entrepôt est bien crée!</h2>
    <h6>Vous pouvez le consulter sur la rubrique "Profil" => "Mes entrepôts de données"</h6>
    <br />   
</div>

    

