@{
    ViewBag.Title = "Mot de passe oublié";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Consultez votre boîte mail pour reinitialiser votre mot de passe.
    </p>
</div>
	
