@{
    ViewBag.Title = "Confirmation de reinitialisation mot de passe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Votre mot de passe a été réinitialisé. SVP @Html.ActionLink("Cliquez ici pour vous identifier", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
