
@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">Un erreur est survenu lors du traitement de votre rêquete</h2>
<h3 class="text-danger">@ViewBag.Message</h3>

